$primary: #0067f4;
$secondary: #5a6169;
$success: #47af50;
$info: #00b8d8;
$warning: #ffb400;
$danger: #c4183c;
$white: #fcfdfe;
$light: #e9ecef;
$dark: #212529;
$bg-color: #f9fafc;
$delay-time: .2s;